Crear una aplicación web donde se puedan crear y consultar un listado de 
astronautas con sus fotos, nombre, nacionalidad, descripción, fecha de nacimiento, 
edad, redes sociales, y un botón donde puedas conocer más, donde tendrá detalles de 
las misiones espaciales que participo.

Que se pueda tener un filtro por nacionalidad, y su estado actual, si está activo o no.

La prueba se puede realizar en .net, Angular o React según guste o cualquier otro framework 
basado en javascript o typescript y base de datos SQL

Austronaut
int Id
varchar(25) FirstName
varchar(25) LastName
varchar(20) Nationality
nvarchar(200) Description
Date BirthDate
int Age gotten from BirthDate
bool Status
varbinary(max) Photo

Mission
int Id
nvarchar(500) Description

Austronaut_Mission
int AustronautId
int MissionId

SocialMedia
int Id
int Description

Austronaut_SocialMedia
int AustronautId
int SocialMediaId
varchar(100) link
