<form class="form" [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <fieldset class="util-display-flex util-align-items-center util-justify-content-space-evenly" >
        <legend>Search Form</legend>
        <label class="util-display-flex util-flex-direction-column util-align-items-center util-justify-content-center" for="id">
            Id <input type="text" id="id" formControlName="id" title="Enter a numeric id" placeholder="Enter id" maxlength="5">
        </label>
        <label class="util-display-flex util-flex-direction-column util-align-items-center util-justify-content-center" for="nationality">
            Nationality <input type="text" id="nationality" formControlName="nationality" title="Enter nationality" placeholder="Enter nationality" maxlength="20">
        </label>
        <label class="util-display-flex util-flex-direction-column util-align-items-center util-justify-content-center">
            <span>Status</span>
            <div class="form__radio-container util-w100">
                <input type="radio" [value]="true" formControlName="status" title="Select active astronauts"> <span>Active</span>
                <input type="radio" [value]="false" formControlName="status" title="Select inactive astronauts"> <span>Inactive</span>   
            </div>
        </label>
    </fieldset>

    <button type="submit" class="btn-search shinning-element" [value]="'search'" title="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>   
</form>