fieldset{
    min-height: 80px;
    padding-block: 20px;
}

fieldset, legend, button.btn-search, button.btn-reload{
    border: 1px dashed #fff;
    border-radius: 15px;
}

legend{
    text-align: center;
    padding: 10px 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-inline: auto;
}

label{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #09062caf;
}

#id{
    width: 80px;
}

[type="text"],[type="radio"]{
    border: 0;
    outline: 1px dashed #fff;
    outline-offset: 0px;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}

.form__radio-container{
    border-radius: 25px;
    margin-top: 10px;
    padding: 4px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #fff;
}

.form__radio-container span{
    color: #09062c;
}

[type="radio"]
{
    margin-inline: 10px;
    accent-color: #09062c;
    outline: 1px dashed #09062c;
    cursor: pointer;
}

[type=text]{
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

:where([type=text],[type="radio"]):focus{
    outline-offset: 3px;
}

button.btn-search{
    width: 100%;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #09062c;
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    --shinning-duration-secs: 8s;
    --shinning-delay-secs: 0s;
}

button.btn-search:hover{
    background-color: rgb(17, 138, 138);
    font-size: 3rem;
}
