<header class="header header--bg-color util-display-flex">
    <nav class="header__nav util-display-flex util-justify-content-space-between">
        <div class="header__logo">        
            <a class="header__logo-link" href="/">
                <img src="../../../assets/images/astronaut.png" alt="Astronaut logo">
            </a>
        </div>
        <ul class="header__nav-list util-display-flex util-align-items-center util-justify-content-space-evenly">
            <li class="header__nav-list-item">
                <a class="header__nav-list-item-link" href="/">HOME</a>
            </li>
            <li class="header__nav-list-item">
                <a class="header__nav-list-item-link" href="/astronaut">ASTRONAUT</a>
            </li>
            <li class="header__nav-list-item">
                <a class="header__nav-list-item-link" href="/add-astronaut">ADD ASTRONAUT</a>
            </li>
        </ul>
    </nav>
</header>

