/* shinning element */
.shinning-element{
    position: relative !important;
    overflow: hidden !important;
    isolation: isolate;
    --opacity: .1;
}

.shinning-element::before {
    content: "";
    position: absolute;
    top: -40%;
    height: 200%;
    width: 10%;
    z-index: -1;
    transform: rotate(25deg) translateX(0);
    opacity: var(--opacity);
    background-color: #fff;
    animation: glass-shinning-effect var(--shinning-duration) linear infinite;
    -webkit-animation: glass-shinning-effect var(--shinning-duration-secs) linear infinite;
    animation-delay: var(--shinning-delay-secs);
    -webkit-transform: rotate(25deg) translateX(0);
    -moz-transform: rotate(25deg) translateX(0);
    -ms-transform: rotate(25deg) translateX(0);
    -o-transform: rotate(25deg) translateX(0);
}

@keyframes glass-shinning-effect {
    0% {
        left: -50%;
    }
    10%,
    100% {
        left: 150%;
    }
}

/* growing element */
.growing-element{
    position: relative !important;
    animation: grow 10s linear infinite;
    -webkit-animation: grow 10s linear infinite;
    animation-delay: var(--growing-delay-secs);
}

@keyframes grow {
    0%, 5%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
2%{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
}

/* rotate 3d */
.spinning-element-3d{
    --spinning-duration-secs: 10s;
    position: relative !important;
    animation: spin var(--spinning-duration-secs) linear infinite;
    -webkit-animation: spinning-3d var(--spinning-duration-secs) linear infinite;
}

@keyframes spinning-3d {
   100%{
    transform: rotateX(1turn) rotateY(1turn) rotate(1turn);
    -webkit-transform: rotateX(1turn) rotateY(1turn) rotate(1turn);
    -moz-transform: rotateX(1turn) rotateY(1turn) rotate(1turn);
    -ms-transform: rotateX(1turn) rotateY(1turn) rotate(1turn);
    -o-transform: rotateX(1turn) rotateY(1turn) rotate(1turn);
}
}

/* rotate*/
.spinning-element{
    --spinning-duration-secs: 10s;
    position: relative !important;
    animation: spin var(--spinning-duration-secs) linear infinite;
    -webkit-animation: spinning var(--spinning-duration-secs) linear infinite;
}

@keyframes spinning {
   100%{
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}
}
